---
import 'modern-css-reset';
import '@styles/base.css';
import '@styles/settings.css';
import { DESCRIPTION, TITLE } from 'src/site';

const { description, image, schema, title } = Astro.props;
const pageTitle = title ? `${title} - ${TITLE}` : `${DESCRIPTION} - ${TITLE}`;
const pageDescription = description || DESCRIPTION;
const pageImage = image || null;

const twitterCardType = pageImage ? 'summary_large_image' : 'summary';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="description" content={pageDescription} />
		<meta name="theme-color" content="#fefefe" />

		<title>{pageTitle}</title>

		{pageImage && <meta name="twitter:image" content={pageImage} />}
		<meta name="twitter:card" content={twitterCardType} />
		<meta name="twitter:creator" content="@timseverien" />
		<meta name="twitter:description" content={pageDescription} />
		<meta name="twitter:dnt" content="on" />
		<meta name="twitter:image" content="@ijsjes_dev" />
		<meta name="twitter:site" content="@ijsjes_dev" />
		<meta name="twitter:title" content={pageTitle} />
		<meta name="twitter:url" content={Astro.url} />

		{pageImage && <meta property="og:image" content={pageImage} />}
		<meta property="og:description" content={pageDescription} />
		<meta property="og:locale" content="en" />
		<meta property="og:site_name" content={TITLE} />
		<meta property="og:title" content={pageTitle} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />

		<link rel="alternate" type="application/atom+xml" href="/rss.xml" />
		<link rel="apple-touch-icon" href="/favicon.png" />
		<link rel="icon" sizes="192x192" href="/favicon.png" />
	</head>

	<body>
		<slot />

		{schema && (
			<script type="application/ld+json" set:html={JSON.stringify(schema)} />
		)}
	</body>
</html>
