---
import BaseLayout from '@layouts/Base.astro';
import { Footer } from '@components/Footer';
import { Header } from '@components/Header';

const { description, image, title, schema } = Astro.props;
---

<BaseLayout
	description={description}
	image={image}
	schema={schema}
	title={title}
>
	<Header requestUrl={Astro.url} />

	<div class="content">
		<slot />
		<Footer />
	</div>
</BaseLayout>

<style>
	.content {
		margin: var(--step-1);
	}

	@media (min-width: 32em) {
		.content {
			margin: var(--step-5);
		}
	}
</style>
