---
import DefaultLayout from '@layouts/Default.astro';
import { ContentBlock } from '@components/ContentBlock';
import { Flow } from '@components/Flow';
import { TITLE } from 'src/site';

const { content } = Astro.props;
const pageTitle = `${content.title} - ${TITLE}`;

const schema = {
	'@context': 'https://schema.org',
	'@type': 'Blog',
	// image: 'https://timseverien.com/assets/images/social.png',
	headline: pageTitle,
	mainEntityOfPage: { '@type': 'WebPage', '@id': Astro.url },
	name: pageTitle,
	url: Astro.url,
};
---

<DefaultLayout schema={schema}>
	<main>
		<Flow component={ContentBlock}>
			<h1>{content.title}</h1>
			<slot />
		</Flow>
	</main>
</DefaultLayout>
