---
import DefaultLayout from '@layouts/Default.astro';
import { getImageAbsoluteUrl } from '@functions/posts';
import { ContentBlock } from '@components/ContentBlock';
import { Flow } from '@components/Flow';
import { SCHEMA_AUTHOR } from 'src/site';

const { content } = Astro.props;

const postImage = content.image
	? getImageAbsoluteUrl(Astro.site, content.image)
	: getImageAbsoluteUrl(Astro.site, `${content.url}/social-image.jpg`);

const schema = {
	'@context': 'https://schema.org',
	'@type': 'BlogPosting',

	alternativeHeadline: content.description,
	author: SCHEMA_AUTHOR,
	dateModified: content.pubDate,
	datePublished: content.pubDate,
	headline: content.title,
	image: postImage,
	name: content.title,
	publisher: SCHEMA_AUTHOR,
	url: Astro.url,

	mainEntityOfPage: {
		'@type': 'WebPage',
		'@id': Astro.url,
	},
};
---

<DefaultLayout
	description={content.description}
	image={postImage}
	schema={schema}
	title={content.title}
>
	<main>
		<Flow component={ContentBlock}>
			<h1>{content.title}</h1>
			<slot />
		</Flow>
	</main>
</DefaultLayout>
