---
import DefaultLayout from '@layouts/Default.astro';
import { createCategoryPath, getImageAbsoluteUrl } from '@functions/posts';
import { ContentBlock } from '@components/ContentBlock';
import { Flow } from '@components/Flow';
import { SCHEMA_AUTHOR } from 'src/site';

const { content } = Astro.props;

const postImage = content.image
	? getImageAbsoluteUrl(Astro.site, content.image)
	: getImageAbsoluteUrl(Astro.site, `${content.url}/social-image.jpg`);

const schema = {
	'@context': 'https://schema.org',
	'@type': 'BlogPosting',

	alternativeHeadline: content.description,
	author: SCHEMA_AUTHOR,
	dateModified: content.pubDate,
	datePublished: content.pubDate,
	headline: content.title,
	image: postImage,
	name: content.title,
	publisher: SCHEMA_AUTHOR,
	url: Astro.url,

	mainEntityOfPage: {
		'@type': 'WebPage',
		'@id': Astro.url,
	},
};
---

<DefaultLayout
	description={content.description}
	image={postImage}
	schema={schema}
	title={content.title}
>
	<main>
		<div class="post__header">
			<h1>{content.title}</h1>
			{
				Array.isArray(content.categories) && content.categories.length > 0 && (
					<dl class="post__details">
						<div>
							<dt>Posted in:</dt>
							<dd>
								<ul class="post__category-list">
									{content.categories.map((category: string) => (
										<li>
											<a href={createCategoryPath(category)}>{category}</a>
										</li>
									))}
								</ul>
							</dd>
						</div>
					</dl>
				)
			}
		</div>

		<Flow component={ContentBlock}>
			<slot />
		</Flow>
	</main>
</DefaultLayout>

<style>
	.post__header {
		margin-block-end: var(--step-0);
	}

	.post__details > div {
		display: flex;
		gap: 0.25em;
	}

	.post__category-list {
		display: flex;
		padding: 0;
		margin: 0;
		gap: 1em;
		list-style-type: none;
	}
</style>
